@model IEnumerable<BitBookApp.Models.Education>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassingYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassingYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducationId })
        </td>
    </tr>
}

</table>
